## Preprocessing

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN','NAME'],1)

application_df.head()

<ipython-input-36-176cc03186f8>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(['EIN','NAME'],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_val = application_df.nunique()
unique_val

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
v_counts = application_df['APPLICATION_TYPE'].value_counts()
v_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(v_counts[v_counts < 700].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [44]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [46]:
X_train_scaled.shape

(25724, 42)

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])

# X shape / input feature / columns rule of thumbs is normally 2-3 times the ammount so 43 * 2 or 3 is 86-129 so i will try choosing 130 for the first hidden node, 60 for 2nd hidden node and i will add 3rd hidden layer = 60 to try to optimise it
hidden_nodes1 = 130
hidden_nodes2 = 60
hidden_nodes3 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=number_input_features, activation='sigmoid'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='sigmoid'))
# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation='sigmoid'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 130)               5590

 dense_9 (Dense)             (None, 60)                7860

 dense_10 (Dense)            (None, 60)                3660

 dense_11 (Dense)            (None, 1)                 61

=================================================================
Total params: 17,171
Trainable params: 17,171
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [49]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,validation_split=1.5, epochs=100)

Epoch 1/100
402/402 [==============================] - 3s 5ms/step - loss: 0.6108 - accuracy: 0.6829 - val_loss: 0.5760 - val_accuracy: 0.7264
Epoch 2/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5803 - accuracy: 0.7165 - val_loss: 0.5722 - val_accuracy: 0.7271
Epoch 3/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5747 - accuracy: 0.7168 - val_loss: 0.5672 - val_accuracy: 0.7283
Epoch 4/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5715 - accuracy: 0.7200 - val_loss: 0.5641 - val_accuracy: 0.7283
Epoch 5/100
402/402 [==============================] - 3s 6ms/step - loss: 0.5682 - accuracy: 0.7203 - val_loss: 0.5600 - val_accuracy: 0.7289
Epoch 6/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5647 - accuracy: 0.7220 - val_loss: 0.5615 - val_accuracy: 0.7315
Epoch 7/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5629 - accuracy: 0.7230 - val_loss: 0.5566 - val_accuracy: 0.7305
Epoch 8/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5606 - accuracy: 0.7244 - val_loss: 0.5575 - val_accuracy: 0.7307
Epoch 9/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5611 - accuracy: 0.7248 - val_loss: 0.5570 - val_accuracy: 0.7296
Epoch 10/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5597 - accuracy: 0.7253 - val_loss: 0.5572 - val_accuracy: 0.7296
Epoch 11/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5588 - accuracy: 0.7255 - val_loss: 0.5559 - val_accuracy: 0.7266
Epoch 12/100
402/402 [==============================] - 2s 6ms/step - loss: 0.5579 - accuracy: 0.7266 - val_loss: 0.5549 - val_accuracy: 0.7318
Epoch 13/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5566 - accuracy: 0.7260 - val_loss: 0.5538 - val_accuracy: 0.7311
Epoch 14/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5563 - accuracy: 0.7272 - val_loss: 0.5532 - val_accuracy: 0.7315
Epoch 15/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5556 - accuracy: 0.7250 - val_loss: 0.5527 - val_accuracy: 0.7318
Epoch 16/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5556 - accuracy: 0.7255 - val_loss: 0.5550 - val_accuracy: 0.7297
Epoch 17/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5544 - accuracy: 0.7280 - val_loss: 0.5525 - val_accuracy: 0.7307
Epoch 18/100
402/402 [==============================] - 1s 4ms/step - loss: 0.5540 - accuracy: 0.7290 - val_loss: 0.5524 - val_accuracy: 0.7286
Epoch 19/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5544 - accuracy: 0.7266 - val_loss: 0.5541 - val_accuracy: 0.7324
Epoch 20/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5533 - accuracy: 0.7287 - val_loss: 0.5514 - val_accuracy: 0.7322
Epoch 21/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5525 - accuracy: 0.7290 - val_loss: 0.5519 - val_accuracy: 0.7322
Epoch 22/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5530 - accuracy: 0.7280 - val_loss: 0.5507 - val_accuracy: 0.7314
Epoch 23/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5530 - accuracy: 0.7273 - val_loss: 0.5574 - val_accuracy: 0.7260
Epoch 24/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5527 - accuracy: 0.7285 - val_loss: 0.5515 - val_accuracy: 0.7323
Epoch 25/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5514 - accuracy: 0.7291 - val_loss: 0.5522 - val_accuracy: 0.7317
Epoch 26/100
402/402 [==============================] - 2s 6ms/step - loss: 0.5502 - accuracy: 0.7290 - val_loss: 0.5559 - val_accuracy: 0.7304
Epoch 27/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5518 - accuracy: 0.7289 - val_loss: 0.5500 - val_accuracy: 0.7304
Epoch 28/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5513 - accuracy: 0.7298 - val_loss: 0.5505 - val_accuracy: 0.7313
Epoch 29/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5508 - accuracy: 0.7291 - val_loss: 0.5498 - val_accuracy: 0.7322
Epoch 30/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5499 - accuracy: 0.7302 - val_loss: 0.5554 - val_accuracy: 0.7275
Epoch 31/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5507 - accuracy: 0.7300 - val_loss: 0.5525 - val_accuracy: 0.7311
Epoch 32/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5495 - accuracy: 0.7309 - val_loss: 0.5495 - val_accuracy: 0.7312
Epoch 33/100
402/402 [==============================] - 2s 6ms/step - loss: 0.5490 - accuracy: 0.7291 - val_loss: 0.5510 - val_accuracy: 0.7315
Epoch 34/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5492 - accuracy: 0.7286 - val_loss: 0.5535 - val_accuracy: 0.7325
Epoch 35/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5488 - accuracy: 0.7307 - val_loss: 0.5501 - val_accuracy: 0.7318
Epoch 36/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5492 - accuracy: 0.7294 - val_loss: 0.5485 - val_accuracy: 0.7304
Epoch 37/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5479 - accuracy: 0.7294 - val_loss: 0.5517 - val_accuracy: 0.7315
Epoch 38/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5477 - accuracy: 0.7304 - val_loss: 0.5486 - val_accuracy: 0.7311
Epoch 39/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5473 - accuracy: 0.7299 - val_loss: 0.5487 - val_accuracy: 0.7302
Epoch 40/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5477 - accuracy: 0.7304 - val_loss: 0.5494 - val_accuracy: 0.7266
Epoch 41/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5472 - accuracy: 0.7321 - val_loss: 0.5505 - val_accuracy: 0.7313
Epoch 42/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5470 - accuracy: 0.7304 - val_loss: 0.5491 - val_accuracy: 0.7316
Epoch 43/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5465 - accuracy: 0.7323 - val_loss: 0.5495 - val_accuracy: 0.7330
Epoch 44/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5467 - accuracy: 0.7304 - val_loss: 0.5515 - val_accuracy: 0.7324
Epoch 45/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5470 - accuracy: 0.7313 - val_loss: 0.5493 - val_accuracy: 0.7290
Epoch 46/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5462 - accuracy: 0.7305 - val_loss: 0.5506 - val_accuracy: 0.7310
Epoch 47/100
402/402 [==============================] - 2s 6ms/step - loss: 0.5464 - accuracy: 0.7325 - val_loss: 0.5488 - val_accuracy: 0.7331
Epoch 48/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5460 - accuracy: 0.7332 - val_loss: 0.5533 - val_accuracy: 0.7287
Epoch 49/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5453 - accuracy: 0.7335 - val_loss: 0.5498 - val_accuracy: 0.7318
Epoch 50/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5453 - accuracy: 0.7325 - val_loss: 0.5499 - val_accuracy: 0.7315
Epoch 51/100
402/402 [==============================] - 1s 4ms/step - loss: 0.5454 - accuracy: 0.7314 - val_loss: 0.5528 - val_accuracy: 0.7336
Epoch 52/100
402/402 [==============================] - 1s 4ms/step - loss: 0.5454 - accuracy: 0.7329 - val_loss: 0.5493 - val_accuracy: 0.7304
Epoch 53/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5446 - accuracy: 0.7336 - val_loss: 0.5502 - val_accuracy: 0.7315
Epoch 54/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5444 - accuracy: 0.7336 - val_loss: 0.5509 - val_accuracy: 0.7316
Epoch 55/100
402/402 [==============================] - 3s 7ms/step - loss: 0.5452 - accuracy: 0.7311 - val_loss: 0.5501 - val_accuracy: 0.7321
Epoch 56/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5436 - accuracy: 0.7318 - val_loss: 0.5527 - val_accuracy: 0.7322
Epoch 57/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5439 - accuracy: 0.7336 - val_loss: 0.5504 - val_accuracy: 0.7303
Epoch 58/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5429 - accuracy: 0.7352 - val_loss: 0.5510 - val_accuracy: 0.7320
Epoch 59/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5431 - accuracy: 0.7353 - val_loss: 0.5502 - val_accuracy: 0.7322
Epoch 60/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5428 - accuracy: 0.7343 - val_loss: 0.5540 - val_accuracy: 0.7292
Epoch 61/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5427 - accuracy: 0.7355 - val_loss: 0.5505 - val_accuracy: 0.7324
Epoch 62/100
402/402 [==============================] - 3s 7ms/step - loss: 0.5429 - accuracy: 0.7336 - val_loss: 0.5511 - val_accuracy: 0.7329
Epoch 63/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5420 - accuracy: 0.7336 - val_loss: 0.5521 - val_accuracy: 0.7322
Epoch 64/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5421 - accuracy: 0.7341 - val_loss: 0.5511 - val_accuracy: 0.7317
Epoch 65/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5420 - accuracy: 0.7326 - val_loss: 0.5521 - val_accuracy: 0.7333
Epoch 66/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5413 - accuracy: 0.7339 - val_loss: 0.5520 - val_accuracy: 0.7332
Epoch 67/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5415 - accuracy: 0.7346 - val_loss: 0.5532 - val_accuracy: 0.7308
Epoch 68/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5408 - accuracy: 0.7337 - val_loss: 0.5519 - val_accuracy: 0.7331
Epoch 69/100
402/402 [==============================] - 3s 7ms/step - loss: 0.5407 - accuracy: 0.7344 - val_loss: 0.5536 - val_accuracy: 0.7332
Epoch 70/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5407 - accuracy: 0.7341 - val_loss: 0.5529 - val_accuracy: 0.7325
Epoch 71/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5410 - accuracy: 0.7354 - val_loss: 0.5523 - val_accuracy: 0.7312
Epoch 72/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5406 - accuracy: 0.7333 - val_loss: 0.5529 - val_accuracy: 0.7325
Epoch 73/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5409 - accuracy: 0.7329 - val_loss: 0.5524 - val_accuracy: 0.7329
Epoch 74/100
402/402 [==============================] - 2s 6ms/step - loss: 0.5402 - accuracy: 0.7345 - val_loss: 0.5527 - val_accuracy: 0.7344
Epoch 75/100
402/402 [==============================] - 3s 7ms/step - loss: 0.5397 - accuracy: 0.7332 - val_loss: 0.5542 - val_accuracy: 0.7319
Epoch 76/100
402/402 [==============================] - 3s 8ms/step - loss: 0.5402 - accuracy: 0.7357 - val_loss: 0.5535 - val_accuracy: 0.7314
Epoch 77/100
402/402 [==============================] - 3s 6ms/step - loss: 0.5400 - accuracy: 0.7354 - val_loss: 0.5533 - val_accuracy: 0.7343
Epoch 78/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5400 - accuracy: 0.7330 - val_loss: 0.5537 - val_accuracy: 0.7329
Epoch 79/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5404 - accuracy: 0.7355 - val_loss: 0.5548 - val_accuracy: 0.7328
Epoch 80/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5392 - accuracy: 0.7350 - val_loss: 0.5541 - val_accuracy: 0.7300
Epoch 81/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5394 - accuracy: 0.7326 - val_loss: 0.5557 - val_accuracy: 0.7332
Epoch 82/100
402/402 [==============================] - 3s 7ms/step - loss: 0.5390 - accuracy: 0.7364 - val_loss: 0.5564 - val_accuracy: 0.7293
Epoch 83/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5386 - accuracy: 0.7339 - val_loss: 0.5553 - val_accuracy: 0.7346
Epoch 84/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5390 - accuracy: 0.7341 - val_loss: 0.5555 - val_accuracy: 0.7293
Epoch 85/100
402/402 [==============================] - 1s 4ms/step - loss: 0.5382 - accuracy: 0.7348 - val_loss: 0.5564 - val_accuracy: 0.7326
Epoch 86/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5381 - accuracy: 0.7336 - val_loss: 0.5551 - val_accuracy: 0.7290
Epoch 87/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5377 - accuracy: 0.7371 - val_loss: 0.5625 - val_accuracy: 0.7245
Epoch 88/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5375 - accuracy: 0.7366 - val_loss: 0.5569 - val_accuracy: 0.7327
Epoch 89/100
402/402 [==============================] - 3s 7ms/step - loss: 0.5379 - accuracy: 0.7347 - val_loss: 0.5564 - val_accuracy: 0.7320
Epoch 90/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5377 - accuracy: 0.7357 - val_loss: 0.5578 - val_accuracy: 0.7329
Epoch 91/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5378 - accuracy: 0.7379 - val_loss: 0.5555 - val_accuracy: 0.7338
Epoch 92/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5375 - accuracy: 0.7366 - val_loss: 0.5568 - val_accuracy: 0.7330
Epoch 93/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5377 - accuracy: 0.7354 - val_loss: 0.5578 - val_accuracy: 0.7284
Epoch 94/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5372 - accuracy: 0.7344 - val_loss: 0.5563 - val_accuracy: 0.7296
Epoch 95/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5368 - accuracy: 0.7365 - val_loss: 0.5577 - val_accuracy: 0.7292
Epoch 96/100
402/402 [==============================] - 2s 6ms/step - loss: 0.5372 - accuracy: 0.7357 - val_loss: 0.5587 - val_accuracy: 0.7299
Epoch 97/100
402/402 [==============================] - 2s 5ms/step - loss: 0.5366 - accuracy: 0.7378 - val_loss: 0.5576 - val_accuracy: 0.7324
Epoch 98/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5373 - accuracy: 0.7351 - val_loss: 0.5582 - val_accuracy: 0.7335
Epoch 99/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5361 - accuracy: 0.7362 - val_loss: 0.5582 - val_accuracy: 0.7325
Epoch 100/100
402/402 [==============================] - 2s 4ms/step - loss: 0.5363 - accuracy: 0.7356 - val_loss: 0.5586 - val_accuracy: 0.7314

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5624 - accuracy: 0.7257 - 404ms/epoch - 2ms/step
Loss: 0.5624117851257324, Accuracy: 0.7257142663002014

In [51]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimisation3.h5")