## Preprocessing

In [33]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [34]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN','NAME'],1)

application_df.head()

<ipython-input-34-176cc03186f8>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(['EIN','NAME'],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [35]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_val = application_df.nunique()
unique_val

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [36]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
v_counts = application_df['APPLICATION_TYPE'].value_counts()
v_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [37]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(v_counts[v_counts < 500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [38]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [39]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts[classification_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [40]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_counts[classification_counts < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [41]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [42]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [43]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [44]:
X_train_scaled.shape

(25724, 44)

## Compile, Train and Evaluate the Model

In [45]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])

# X shape / input feature / columns rule of thumbs is normally 2-3 times the ammount so 43 * 2 or 3 is 86-129 so i will try choosing 130 for the first hidden node, 60 for 2nd hidden node and i will add 3rd hidden layer = 60 to try to optimise it
hidden_nodes1 = 130
hidden_nodes2 = 60
hidden_nodes3 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes1, input_dim=number_input_features, activation='tanh'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes2, activation='relu'))
# Third hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes3, activation='sigmoid'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 130)               5850

 dense_8 (Dense)             (None, 60)                7860

 dense_9 (Dense)             (None, 60)                3660

 dense_10 (Dense)            (None, 1)                 61

=================================================================
Total params: 17,431
Trainable params: 17,431
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [47]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 3s 2ms/step - loss: 0.5666 - accuracy: 0.7188
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7275
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7295
Epoch 4/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7308
Epoch 5/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7304
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7296
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7305
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7319
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7310
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7322
Epoch 11/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7326
Epoch 12/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7334
Epoch 13/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7334
Epoch 14/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7341
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7346
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7356
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7360
Epoch 18/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5403 - accuracy: 0.7346
Epoch 19/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7362
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7361
Epoch 21/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 22/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7380
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7362
Epoch 25/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7372
Epoch 26/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7369
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7374
Epoch 28/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7382
Epoch 29/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7378
Epoch 30/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 31/150
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7379
Epoch 32/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7374
Epoch 33/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7385
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7387
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7391
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7393
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7398
Epoch 38/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7400
Epoch 39/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 40/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7401
Epoch 41/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7393
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7394
Epoch 43/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7392
Epoch 44/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7400
Epoch 45/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7394
Epoch 46/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5319 - accuracy: 0.7398
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7406
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7405
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7402
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7413
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7403
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7400
Epoch 53/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5305 - accuracy: 0.7407
Epoch 54/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7400
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7400
Epoch 56/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7409
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7400
Epoch 58/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7413
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7407
Epoch 60/150
804/804 [==============================] - 3s 3ms/step - loss: 0.5298 - accuracy: 0.7400
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5304 - accuracy: 0.7410
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7405
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7414
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5299 - accuracy: 0.7403
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7412
Epoch 66/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5295 - accuracy: 0.7412
Epoch 67/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7413
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7414
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7403
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7405
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7411
Epoch 72/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7411
Epoch 73/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7405
Epoch 74/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7406
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7419
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7406
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7407
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7418
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7415
Epoch 80/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7411
Epoch 81/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7411
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7414
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7416
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7412
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7423
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7411
Epoch 87/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7415
Epoch 88/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7406
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7416
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7423
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7415
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7412
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7412
Epoch 94/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7410
Epoch 95/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7417
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7409
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7416
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7411
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7424
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7416
Epoch 101/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5284 - accuracy: 0.7416
Epoch 102/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7420
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7415
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7418
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7415
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7416
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7410
Epoch 108/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7420
Epoch 109/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7415
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7409
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7416
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7414
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7421
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7410
Epoch 115/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7419
Epoch 116/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7406
Epoch 117/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7411
Epoch 118/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7418
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7418
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7420
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7401
Epoch 122/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7420
Epoch 123/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7423
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7414
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7421
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7419
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7419
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7427
Epoch 129/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7413
Epoch 130/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7414
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7414
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7425
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7407
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7425
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7416
Epoch 136/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7420
Epoch 137/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7413
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7411
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7410
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7414
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7399
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7420
Epoch 143/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5280 - accuracy: 0.7423
Epoch 144/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7423
Epoch 145/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5274 - accuracy: 0.7417
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7423
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7429
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7421
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7417
Epoch 150/150
804/804 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7419

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5816 - accuracy: 0.7284 - 486ms/epoch - 2ms/step
Loss: 0.5815831422805786, Accuracy: 0.728396475315094

In [49]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity_Optimisation2.h5")